@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to bottom, #b42906d5, #020202bd);
    }

    section#login {
        width: 80vw;
    }
    
    section#login > div#foto {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formu {
        float: right;
        width: 70%;
    }
    
    .top {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}



@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #b42906d5, #020202bd);
    }

    section#login {
        width: 950px;
    }

    section#login div#foto {
        float: left;
        width: 50%;
        height: 100%;
    }

    .top {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    div#formu {
        float: right;
        width: 50%;
        padding: 10px;
    }

}
